.qodo
# Ignore common image files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.svg
*.webp

# sensitive information
credentials.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython debug symbols
cython_debug/

# Virtual environment
venv/
.env/

# Ignore model files
*.h5      # Keras model
*.pth     # PyTorch
*.pt      # PyTorch
*.ckpt    # TensorFlow / PyTorch Lightning
*.pb      # TensorFlow
*.tflite  # TensorFlow Lite
*.onnx    # ONNX format

# Model folders
PreferenceRecognition/log